name: Build and Push to DockerHub
on:
  push:
    branches: [ main, cluster-lab-13 ]
  pull_request:
    branches: [ main, cluster-lab-13 ]

env:
  GITOPS_REPO: hamletrp/k8s-tests
  GITOPS_BRANCH_NAME: "cluster-lab-13"
  IMAGE_REGISTRY: docker.io
  IMAGE_NAME: "hamuretto/gradeapp"
  IMAGE_NAME_FULL: ""
  APP_NAME: "gradeapp-api"
  ENV_NAME: "prod"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ${{env.IMAGE_REGISTRY}}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract short SHA
        id: vars
        run: |
          echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          IMAGE_NAME_FULL="${IMAGE_REGISTRY}/${IMAGE_NAME}:${short_sha}"

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.short_sha }}

      - name: Open pr in GitOps repository
        shell: bash
        env:
          GIT_TOKEN: ${{ secrets.GITOPS_REPO_1 }}
        run: |
          # Configure git credential store
          git config --global credential.helper store
          echo "https://${GIT_TOKEN}:x-oauth-basic@github.com" > ~/.git-credentials
          
          # Remove any existing gitops directory
          rm -rf gitops
          
          # Clone repository using HTTPS URL without token
          git clone https://github.com/hamletrp/k8s-tests.git gitops
          cd ./gitops

          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

          # update image tag
          cd ./app-charts-enduser/charts/gradeapp
          yq e '.image.tag = "${{ steps.vars.outputs.short_sha }}"' -i values.yaml

          # creare new temp branch 
          BRANCH_TEMP="bump-${APP_NAME}-${ENV_NAME}-${GITHUB_SHA}"
          git checkout -b "$BRANCH_TEMP"
          
          # Commit changes
          git commit -am "Update image to ${{ steps.vars.outputs.short_sha }}"
          git push --set-upstream origin "$BRANCH_TEMP"
          
          # Create PR using GitHub CLI
          gh pr create \
            --repo "$GITOPS_REPO" \
            --base "$GITOPS_BRANCH_NAME" \
            --head "$BRANCH_TEMP" \
            --title "pr: bump ${APP_NAME} ${ENV_NAME} image to ${IMAGE_TAG}" \
            --body "$(cat <<EOF
              Automated image bump for ${APP_NAME}

              - Image: \`${IMAGE_NAME_FULL}\`
              - Source commit: \`${GITHUB_SHA}\`
              EOF
              )"
            